#toggle-ready__btn {
  height: 40px;
  font-size: 15px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  text-transform: uppercase;
  padding: 0 15px;
}

.content {
  margin: 0 5% 0;
}

.grid-container {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.comment-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment {
  position: relative;
  background-color: #fff;
	padding: 1.125rem 1.5rem;
	font-size: 1.25em;
	border-radius: 0.75rem;
  box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.comment::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	right: 25%;
	border: .75rem solid transparent;
	border-top: none;

	border-bottom-color: #fff;
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

.player__list {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 100%;
}

.players__player {
  border: 1px solid var(--main-button-border-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
}

.players__player:last-child {
  margin-bottom: 0;
}

.game__area {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer {
  font-size: 2rem;
}

.game__timer {
  position: absolute;
  top: 0;
  left: calc(50% - 1rem);
}

.ready-sign {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}

.ready {
  background-color: green;
}

.not_ready {
  background-color: red;
}

.progress-bar__container {
  background-color: lightgray;
  height: 20px;
  width: 75%;
}

.progress-bar {
  background-color: green;
  height: 20px;
  width: 0;
}

.game__text {
  font-size: 1.5rem;
}

.coloured {
  background-color: lightgreen;
}

.underlined {
  text-decoration: underline;
  text-decoration-color: limegreen;
}